<footer class="footer brand-1">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__top footer__top--style1">
                <div class="row gy-5 gx-4">
                    <div class="col-md-6">
                        <div class="footer__about">
                            <a href="{{ path('app_home') }}" class="footer__about-logo">
                                <img src="{{ asset('assets/images/logo/logo-dark.png') }}" alt="Logo">
                            </a>
                            <p class="footer__about-moto">Welcome to our trading site! We offer the best, most affordable products and services around.</p>
                            <div class="footer__app">
                                <!-- App store buttons -->
                            </div>
                        </div>
                    </div>
                    <!-- Footer columns -->
                </div>
            </div>
            <div class="footer__bottom">
                <!-- Footer bottom content -->
            </div>
        </div>
    </div>
    <div class="footer__shape">
        <span class="footer__shape-item footer__shape-item--1">
            <img src="{{ asset('assets/images/footer/1.png') }}" alt="shape icon">
        </span>
    </div>
</footer>